http_interactions:
- request:
    method: get
    uri: https://rmd-wordpress.eu/wp-json/wp/v2/categories
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Basic bWFlbGxlLW5vdC1hZG1pbjo3M1pPIEpnUTUgOVdsUSA3am51IFJBMlggeWRQeA==
      Content-Type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
      link: <https://rmd-wordpress.eu/wp-json/>; rel="https://api.w.org/"
      x-wp-total: '5'
      x-wp-totalpages: '1'
      allow: GET, POST
      x-iplb-instance: '32681'
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":7,"count":0,"description":"","link":"https:\/\/rmd-wordpress.eu\/category\/code\/","name":"code","slug":"code","taxonomy":"category","parent":0,"meta":[],"_links":{"self":[{"href":"https:\/\/rmd-wordpress.eu\/wp-json\/wp\/v2\/categories\/7"}],"collection":[{"href":"https:\/\/rmd-wordpress.eu\/wp-json\/wp\/v2\/categories"}],"about":[{"href":"https:\/\/rmd-wordpress.eu\/wp-json\/wp\/v2\/taxonomies\/category"}],"wp:post_type":[{"href":"https:\/\/rmd-wordpress.eu\/wp-json\/wp\/v2\/posts?categories=7"}],"curies":[{"name":"wp","href":"https:\/\/api.w.org\/{rel}","templated":true}]}},{"id":14,"count":1,"description":"","link":"https:\/\/rmd-wordpress.eu\/category\/code-and-stuff\/","name":"Code
        and Stuff","slug":"code-and-stuff","taxonomy":"category","parent":0,"meta":[],"_links":{"self":[{"href":"https:\/\/rmd-wordpress.eu\/wp-json\/wp\/v2\/categories\/14"}],"collection":[{"href":"https:\/\/rmd-wordpress.eu\/wp-json\/wp\/v2\/categories"}],"about":[{"href":"https:\/\/rmd-wordpress.eu\/wp-json\/wp\/v2\/taxonomies\/category"}],"wp:post_type":[{"href":"https:\/[...]
- request:
    method: get
    uri: https://rmd-wordpress.eu/wp-json/wp/v2/tags
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Basic bWFlbGxlLW5vdC1hZG1pbjo3M1pPIEpnUTUgOVdsUSA3am51IFJBMlggeWRQeA==
      Content-Type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
      link: <https://rmd-wordpress.eu/wp-jso[...]
- request:
    method: post
    uri: https://rmd-wordpress.eu/wp-json/wp/v2/posts
    body:
      encoding: ''
      string: '{"date":"2020-04-01T00:00:00","title":"Another Rmd Blog Post","slug":"post-rmd","comment_status":"closed","ping_status":"closed","status":"draft","content":"<h2
        id=\"r-markdown\">R Markdown<\/h2>\n<p>A citation<a href=\"#fn1\" class=\"footnote-ref\"
        id=\"fnref1\"><sup>1<\/sup><\/a>. R is cool<a href=\"#fn2\" class=\"footnote-ref\"
        id=\"fnref2\"><sup>2<\/sup><\/a>.<\/p>\n<p>This is an R Markdown document.
        Markdown is a simple formatting syntax for authoring HTML, PDF, and MS Word
        documents. For more details on using R Markdown see <a href=\"http://rmarkdown.rstudio.com\"
        class=\"uri\">http://rmarkdown.rstudio.com<\/a>.<\/p>\n<p>When you click the
        <strong>Knit<\/strong> button a document will be generated that includes both
        content as well as the output of any embedded R code chunks within the document.
        You can embed an R code chunk like this:<\/p>\n<div class=\"highlight\">\n<pre
        class=''chroma''><code class=''language-r'' data-lang=''r''><span class=''nf''><a
        href=''https://rdrr.io/r/base/summary.html''>summary<\/a><\/span>(<span class=''k''>cars<\/span>)\n<span
        class=''c''>#&gt;      speed           dist       <\/span>\n<span class=''c''>#&gt;  Min.   :
        4.0   Min.   :  2.00  <\/span>\n<span class=''c''>#&gt;  1st Qu.:12.0   1st
        Qu.: 26.00  <\/span>\n<span class=''c''>#&gt;  Median :15.0   Median : 36.00  <\/span>\n<span
        class=''c''>#&gt;  Mean   :15.4   Mean   : 42.98  <\/span>\n<span class=''c''>#&gt;  3rd
        Qu.:19.0   3rd Qu.: 56.00  <\/span>\n<span class=''c''>#&gt;  Max.   :25.0   Max.   :120.00<\/span><\/code><\/pre>\n<\/div>\n<h2
        id=\"including-plots\">Including Plots<\/h2>\n<p>You can also embed plots,
        for example:<\/p>\n<div class=\"highlight\">\n<p><img src=\"figs/pressure-1.png\"
        width=\"700px\" style=\"display: block; margin: auto;\" /><\/p>\n<\/div>\n<p>Note
        that the <code>echo = FALSE<\/code> parameter was added to the code chunk
        to prevent printing of the R code that generated the plot.<\/p>\n<h2 id=\"another-plot\">Another
        plot<\/h2>\n<div class=\"highlight\">\n<pre class=''chroma''><code class=''language-r''
        data-lang=''r''><span class=''nf''><a href=''https://rdrr.io/r/graphics/plot.html''>plot<\/a><\/span>(<span
        class=''m''>1<\/span><span class=''o''>:<\/span><span class=''m''>10<\/span>,
        col = <span class=''m''>3<\/span>)\n<\/code><\/pre>\n<p><img src=\"figs/unnamed-chunk-1-1.png\"
        width=\"700px\" style=\"display: block; margin: auto;\" /><\/p>\n<\/div>\n<h2
        id=\"some-other-thing\">Some other thing<\/h2>\n<div class=\"highlight\">\n<pre
        class=''chroma''><code class=''language-r'' data-lang=''r''><span class=''nf''><a
        href=''https://rdrr.io/r/base/MathFun.html''>sqrt<\/a><\/span>(<span class=''m''>4<\/span>)\n<span
        class=''c''>#&gt; [1] 2<\/span><\/code><\/pre>\n<\/div>\n<div class=\"footnotes\">\n<hr
        />\n<ol>\n<li id=\"fn1\"><p>Rich FitzJohn et al., <em>Jqr: Client for ‘Jq’,
        a ‘Json’ Processor<\/em>, 2018, <a href=\"https://CRAN.R-project.org/package=jqr\"
        class=\"uri\">https://CRAN.R-project.org/package=jqr<\/a>.<a href=\"#fnref1\"
        class=\"footnote-back\">↩︎<\/a><\/p><\/li>\n<li id=\"fn2\"><p>R Core Team,
        <em>R: A Language and Environment for Statistical Computing<\/em> (Vienna,
        Austria: R Foundation for Statistical Computing, 2020), <a href=\"https://www.R-project.org/\"
        class=\"uri\">https://www.R-project.org/<\/a>.<a href=\"#fnref2\" class=\"footnote-back\">↩︎<\/a><\/p><\/li>\n<\/ol>\n<\/div>","excerpt":"Here
        I summarize this fantastic post","format":"standard","template":{},"categories":"10","tags":["11","12"]}'
    headers:
      Authorization: Basic bWFlbGxlLW5vdC1hZG1pbjo3M1pPIEpnUTUgOVdsUSA3am51IFJBMlggeWRQeA==
      Content-Type: application/json
  response:
    status:
      status_code: 201
      category: Success
      reason: Created
      message: 'Success: (201) Created'
    headers:
      content-type: application/json; charset=UTF-8
      link: <https://rmd-wordpress.eu/wp-json/>; rel="https://api.w.org/"
      allow: GET, POST
      location: https://rmd-wordpress.eu/wp-json/wp/v2/posts/316
      x-iplb-instance: '32682'
    body:
      encoding: UTF-8
      file: no
      string: '{"id":316,"date":"2020-04-01T00:00:00","date_gmt":"2020-03-31T22:00:00","guid":{"rendered":"https:\/\/rmd-wordpress.eu\/?p=316","raw":"https:\/\/rmd-wordpress.eu\/?p=316"},"modified":"2020-04-01T00:00:00","modified_gmt":"2020-03-31T22:00:00","password":"","slug":"post-rmd","status":"draft","type":"post","link":"https:\/\/rmd-wordpress.eu\/?p=316","title":{"raw":"Another
        Rmd Blog Post","rendered":"Another Rmd Blog Post"},"content":{"raw":"<h2 id=\"r-markdown\">R
        Markdown<\/h2>\n<p>A citation<a href=\"#fn1\" class=\"footnote-ref\" id=\"fnref1\"><sup>1<\/sup><\/a>.
        R is cool<a href=\"#fn2\" class=\"footnote-ref\" id=\"fnref2\"><sup>2<\/sup><\/a>.<\/p>\n<p>This
        is an R Markdown document. Markdown is a simple formatting syntax for authoring
        HTML, PDF, a[...]
- request:
    method: get
    uri: https://rmd-wordpress.eu/wp-json/wp/v2/media?parent=316
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Basic bWFlbGxlLW5vdC1hZG1pbjo3M1pPIEpnUTUgOVdsUSA3am51IFJBMlggeWRQeA==
      Content-Type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
      link: <https://rmd-wordpress.eu/wp-json/>; rel="https://api.w.org/"
      x-wp-total: '0'
      x-wp-totalpages: '0'
      allow: GET, POST
      x-iplb-instance: '32684'
    body:
      encoding: UTF-8
      file: no
      string: '[]'
  recorded_at: 2020-06-23 06:21:24 GMT
  recorded_with: vcr/0.4.2.93, webmockr/0.6.2.92
- request:
    method: post
    uri: https://rmd-wordpress.eu/wp-json/wp/v2/posts/316
    body:
      encoding: ''
      string: '{"date":"2020-04-01T00:00:00","title":"Another Rmd Blog Post","slug":"post-rmd","comment_status":"closed","ping_status":"closed","status":"publish","content":"<h2
        id=\"r-markdown\">R Markdown<\/h2>\n<p>A citation<a href=\"#fn1\" class=\"footnote-ref\"
        id=\"fnref1\"><sup>1<\/sup><\/a>. R is cool<a href=\"#fn2\" class=\"footnote-ref\"
        id=\"fnref2[...]
[...]
